<div class="row">
  <h1 class="col">Trier :</h1>
  <select class="col" name="champ" id="1" [(ngModel)]="champ">
    <option value="attaque">Attaque</option>
    <option value="points">Points de vie</option>
    <option value="cout">Coût en Mana</option>
  </select>
  <select class="col" name="ordre" id="2" [(ngModel)]="order">
    <option value="croissant">Croissant</option>
    <option value="decroissant">Décroissant</option>
  </select>

</div>

<app-card class="col-md" *ngFor="let carte of listecartes" [card]="carte"></app-card>