<div style="margin-left: 20px; margin-right: 20px; margin-top: 30px;">
  <div style="display: flex; justify-content: center;">
    <button style="margin-bottom: 30px;" mat-raised-button color="accent" (click)="joinMatch()">Joindre une
      partie</button>
  </div>

  <div class="loading-dialog" *ngIf="recherche">
    <h2>Recherche d'un adversaire...</h2>
    <mat-spinner></mat-spinner>
    <button mat-fab extended (click)="stopJoiningMatch()">Stop joining</button>
  </div>

  <router-outlet></router-outlet>
</div>