@if (matchService.match == null) {
<mat-toolbar style="display: flex;">
  <mat-icon style="margin-right: 8px" routerLink="/">class</mat-icon>
  <a routerLink="/"><span>Super Cartes Infinies</span></a>
  @if (isLogged()) {
  <button mat-raised-button [routerLink]="['/mescartes']" style="margin-left: 20px;">Mes cartes</button>
  }
  @if (isLogged()) {
  <button mat-raised-button [routerLink]="['/magasin']" style="margin-left: 20px;">Magasin</button>
  }
  @if (isLogged()) {
  <button mat-raised-button [routerLink]="['/packs']" style="margin-left: 20px;">Paquets</button>
  }
  @if(isLogged()){
  <h2 style="margin-left: 20px;">Votre solde : {{solde ? solde : 0}} &#8377;</h2>
  }
  <span style="flex: 1 1 auto;"></span>
  @if (isLogged()) {
  <button style="margin-right: 20px;" mat-raised-button (click)="test()">Test</button>
  }
  @if (isLogged()) {
  <mat-chip style="margin-right: 20px;">
    {{getUsername()}}
  </mat-chip>
  }
  @if (isLogged()) {
  <button mat-raised-button color="warn" (click)="logout()">Se déconnecter</button>
  }
  @if (isLogged() == false) {
  <button mat-raised-button color="warn" (click)="login()">Connexion</button>
  }
</mat-toolbar>

}
<router-outlet></router-outlet>