@if (matchService.match == null) {
<mat-toolbar style="display: flex;">
  <mat-icon style="margin-right: 8px" routerLink="/">class</mat-icon>
  <a routerLink="/"><span>Super Cartes Infinies</span></a>
  @if (isLogged()) {
  <button mat-raised-button [routerLink]="['/mescartes']" style="margin-left: 20px;">Mes cartes</button>

  <button mat-raised-button [routerLink]="['/magasin']" style="margin-left: 20px;">Magasin</button>

  <button mat-raised-button [routerLink]="['/decks']" style="margin-left: 20px;">Decks</button>

  <button mat-raised-button [routerLink]="['/packs']" style="margin-left: 20px;">Paquets</button>

  <button mat-raised-button color="accent" [routerLink]="['/games']" style="margin-left: 20px;">Parties</button>
  <button mat-raised-button [routerLink]="['/statistiques']" style="margin-left: 20px;">Stats</button>
  <span style="flex: 1 1 auto;"></span>
  <!--
  @if (isLogged()) {
  <button style="margin-right: 20px;" mat-raised-button (click)="test()">Test</button>
  }-->
  <mat-chip style="margin-right: 20px;">
    @if(elo === 0){
    <!-- {{getELO()}} -->
    }
    ELO: {{elo}}
  </mat-chip>
  <h2 style="margin-right: 20px;">Votre solde : {{solde ? solde : 0}} &#8377;</h2>

  <mat-chip style="margin-right: 20px;">
    {{getUsername()}}
  </mat-chip>

  <button mat-raised-button color="warn" (click)="logout()">Se déconnecter</button>
  }
  @if (!isLogged()) {
  <span style="flex: 1 1 auto;"></span>

  <button mat-raised-button color="warn" (click)="login()">Connexion</button>
  }
</mat-toolbar>

}
<router-outlet></router-outlet>