<div class="row mt-2 mb-1">
  <h1 class="col-auto">{{deck?.name}}</h1>

  <mat-chip class="col-auto" *ngIf="deck?.current">Deck courant</mat-chip>

  <button class="col-auto icon-button" *ngIf="!deck?.current" mat-raised-button color="primary"
    matTooltip="Supprimer le deck" (click)="deleteDeck()"><mat-icon>delete</mat-icon></button>

  <button class="col-auto icon-button ml-3" *ngIf="!deck?.current" mat-raised-button color="accent"
    matTooltip="Définir comme deck courant" (click)="currentDeck()"><mat-icon>check</mat-icon></button>
</div>

<div class="row align-items-center">
  <div class="col-auto carte-col" style="margin-bottom: 20px;" *ngFor="let carte of deck?.deckOwnedCards">
    <app-card [card]="carte.ownedCard.card"></app-card>
    <button class="remove-card-button" mat-raised-button color="primary" matTooltip="Retirer du deck"
      (click)="deleteCard(carte)"><mat-icon>delete</mat-icon></button>
  </div>
  <button class="bouton-ajout ml-3" mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>
    Ajouter des cartes</button>
</div>