.mat-icon {
    transform: scale(2);
}

.icon-button {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    font-size: 35px;
}

.bouton-ajout {
    height: 200px;
}

.remove-card-button {
    padding-left: 25px;
}