<div class="row justify-content-between" style="height: 100%;">
  <div class="col-9 col-md">
    <div class="board" style="height: 100%;background-image: url('/assets/nouveauBoard.png'); background-size: cover;">
      <div style="height: 45%;">
        <h1 style="position: absolute;">Adversaire</h1>
        @if (matchService.adversaryData) {
        <div>
          <app-battlefield [cards]="matchService.adversaryData.battleField"
            [playerId]="matchService.adversaryData.playerId"></app-battlefield>
          <app-enemyhand [cards]="matchService.adversaryData.hand"></app-enemyhand>
        </div>
        }
      </div>
      <div style="height: 45%;">
        <h1 style="position: absolute;">Mon jeu</h1>
        @if (matchService.playerData) {
        <div>
          <app-battlefield [cards]="matchService.playerData.battleField"
            [playerId]="matchService.currentPlayerId"></app-battlefield>
        </div>
        }

      </div>
    </div>
  </div>

  <div class="col-2 chat">
    <app-chat></app-chat>
  </div>
</div>

@if (matchService.playerData) {
<div>
  <app-playerhand [cards]="matchService.playerData.hand"></app-playerhand>
  @if (!spectating) {
    <button mat-raised-button [disabled]="!matchService.isCurrentPlayerTurn" class="endturn" color="accent"
    style="margin-right: 20px;" (click)="endTurn()">Terminer</button>
  <button mat-raised-button class="surrender" color="warn" style="margin-right: 20px;"
    (click)="surrender()">Abandonner</button>
  }
  @if (spectating) {
    <button mat-raised-button class="surrender" color="warn" style="margin-right: 20px;"
    (click)="quitGame()">Quitter</button>
  }
  <app-health [enemy]="true" [maxhealth]="matchService.adversaryData!.maxhealth"
    [health]="matchService.adversaryData!.health" [mana]="matchService.adversaryData!.mana"
    [playername]="matchService.adversaryData!.playerName"></app-health>
  <app-health [maxhealth]="matchService.playerData!.maxhealth" [health]="matchService.playerData!.health"
    [mana]="matchService.playerData!.mana" [playername]="matchService.playerData!.playerName"></app-health>
</div>
}

@if (!spectating) {
  <div class="loading-dialog" *ngIf="matchService.match?.isMatchCompleted" class="end">
    <h1>{{ matchService.victoire ? 'Victoire!' : 'Défaite' }}</h1>
    <h2>Montant reçu {{montantRecu}} &#8377;</h2>
    <button mat-raised-button color="warn" (click)="endMatch()">Terminer la partie</button>
  </div>
}
@if (spectating) {
  <div class="loading-dialog" *ngIf="matchService.match?.isMatchCompleted" class="end">
    <h1>Partie terminée</h1>
    <button mat-raised-button color="warn" (click)="quitGame()">Quitter</button>
  </div>
}