<h2 mat-dialog-title>Ajouter un deck</h2>

<mat-dialog-content>

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Nom du deck</mat-label>
      <input matInput [(ngModel)]="deckNameInput" type="text" formControlName="deckName" name="deckName" required>
      <mat-error *ngIf="form.get('deckName')?.hasError('required')">
        Le nom du deck est requis.
      </mat-error>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-raised-button color="primary" (click)="close()">Annuler</button>
  <button mat-raised-button color="accent" (click)="save()" [disabled]="!form.valid">Ajouter</button>
</mat-dialog-actions>