@if (show=='front') {
<mat-card class="infinite-card">
  <mat-card-header>
    <div mat-card-avatar class="infinite-card-mana-cost">
      {{card?.cost}} <i class="fas fa-gem"></i>
    </div>
    <mat-card-title>{{card?.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="infinite-card-content" style="background-image: url({{card?.imageUrl}});">
    <table style="font-size: 2em; width: fit-content; text-shadow: 2px 2px 2px black;">
      <tr>
        <td><i class="fas fa-fist-raised"></i></td>
        <td>{{card?.attack}}</td>
      </tr>
      <tr>
        <td>
          <i class="fas fa-shield-alt"></i>
        </td>
        <td>{{card?.health}}</td>
      </tr>
      <!-- <tr *ngFor="let cp of card?.cardPowers; let i = index">
        <td [ngClass]="animationClass" (click)="animation(i)" style="cursor: pointer;">
          {{cp.power.icone}}</td>

        <td>{{ cp.value }}</td>
      </tr> -->
      <!-- <tr *ngFor="let cp of card?.cardPowers; let i = index">
        <td style="cursor: pointer;" (click)="triggerPowerAnimation(i)"
          [@firstStrike]="cp.power.name === 'First Strike' && animatedIndex === i ? count : 0"
          [@thorns]="cp.power.name === 'Thorns' && animatedIndex === i ? count : 0"
          [@heal]="cp.power.name === 'Heal' && animatedIndex === i ? count : 0"
          [@shield]="cp.power.name === 'Shield' && animatedIndex === i ? count : 0">
          {{ cp.power.icone }}
        </td>
        <td>{{ cp.value }}</td>
      </tr> -->

      <tr *ngFor="let cp of card?.cardPowers; let i = index"> <!-- 👈 ici -->
        <td title="{{ cp.power.name }}" [@firstStrike]="cp.power.name === 'First Strike' ? animationCounters[i] : 0"
          [@thorns]="cp.power.name === 'Thorns' ? animationCounters[i] : 0"
          [@heal]="cp.power.name === 'Heal' ? animationCounters[i] : 0"
          [@shield]="cp.power.name === 'Shield' ? animationCounters[i] : 0" (click)="animations(i)"
          style="cursor: pointer;">
          {{ cp.power.icone }}
        </td>
        <td>{{ cp.value }}</td>
      </tr>

    </table>
  </mat-card-content>
</mat-card>
}

@if (show=='back') {
<mat-card class="infinite-card" style="background-image: url({{beautifulBackUrl}});">
</mat-card>
}