.infinite-card {
  width: 250px;
  height: 300px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.infinite-card-header {
  padding: 16px;
}

.infinite-card-mana-cost {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.infinite-card-content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: left;
  height: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding: 16px;
}

.card-stats-table {
  font-size: 1.6em;
  width: fit-content;
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  border-collapse: collapse;
}

.card-stats-table td {
  padding: 8px;
}

.card-stats-table i {
  margin-right: 8px;
}

mat-card-title,
mat-card-subtitle {
  font-size: 1.3em;
}

.red {
  color: red;
}