<div
  style="width: 100%;height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
  <mat-card class="artist-card" style="margin: 16px; padding: 16px;">
    <form [formGroup]="form">
      <mat-form-field style="width: 100%">
        <input matInput type="email" placeholder="Courriel" formControlName="email" name="email" />
        <mat-error *ngIf="form.get('email')?.errors?.['email'] && !form.get('email')?.hasError('required')">
          Entrer une adresse courriel valide.
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Le courriel est <strong>requis</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input matInput type="password" placeholder="Mot de passe" formControlName="password" name="password" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Le mot de passe est <strong>requis</strong>.
        </mat-error>
        <mat-error *ngIf="form.hasError('passwordNotConfirmed')">
          Les mots de passe ne sont pas identiques.
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('passwordLengthError')">
          Le mot de passe doit contenir au moins 6 charactères.
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input matInput type="password" placeholder="Confirmation du mot de passe" formControlName="passwordConfirm"
          name="passwordConfirm" />
        <mat-error *ngIf="form.get('passwordConfirm')?.hasError('required')">
          La confirmation du mot de passe est <strong>requise</strong>.
        </mat-error>
        <mat-error *ngIf="form.hasError('passwordNotConfirmed')">
          Les mots de passe ne sont pas identiques.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!form.valid">
        Créer un compte
      </button>
    </form>
  </mat-card>
</div>